<!-- src/app/pages/dish-item/dish-item.component.html -->

<div *ngIf="dish" class="item-detail">
    <img [src]="dish.TileImagePath" alt="{{ dish.Title }} image">
    <h2>{{ dish.Title }}</h2>
    <p>{{ dish.Description }}</p>
    <!-- Add more details as needed -->
    <p>Rating: {{ dish.Rating }}</p>
    <p>PreparationTime: {{ dish.PreparationTime }} mins </p>
    <p><b>Ingredients: </b>{{ dish.Ingredients }}</p>
    <!-- <p>{{ dish.Description }}</p>
    <p>{{ dish.Description }}</p> -->

</div>
  